body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    font-size: 10px;
}

a:visited {
    color: black;
    text-decoration: none;
}


li a:hover {
    color: blue;
    cursor: pointer;
}

/*Cabecalho*/
header {
    background-color: white;
    height: 100px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    place-items: center;
}

header ul {
    list-style: none;
    font-size: 15px;
    color: black;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.itens_topo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.itens_topo a {
    padding: 5px;
}

.itens_topo a:hover {
    color: blue;
    background-color: rgba(0, 0, 255, 0.2);
    border-radius: 3px;
    cursor: pointer;
}

/*Rodape*/
.footer_cima {
    place-items: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    gap: 1rem;
}

.footer_cima>div {
    align-self: start;
}

.footer_cima ul {
    margin: 0;
    padding: 0;
}

footer h3,
footer a {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

footer a:hover {
    color: blue;
}

footer p {
    font-size: 9px;
}

#descricao p {
    width: 100px;
}

#compras a {
    font-size: 9px;
    font-weight: normal;
}

#compras a:hover {
    color: blue;
}

.todos_direitos {
    font-size: 11px;
}



/* Mobile - Até 576px */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.destaque {
    background-color: #fafafa;
    margin: 15px auto;
}

.linha-produtos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.card-produto {
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.card-img-produto {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    height: 190px;
}

.card-img-produto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-body-produto {
    padding: 10px;
}

.card-body-produto .titulo-produto {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}

.card-body-produto .preco-produto {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}


.card-footer-produto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
} 

.card-footer-produto .btn-comprar-produto {
    background-color: hsl(221 83% 53%);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

.card-footer-produto .btn-comprar-produto:hover {
    background-color: hsl(221 83% 63%);
}

.card-footer-produto .btn-comprar-produto i {
    margin-right: 7px;
}

.card-footer-produto .btn-detalhe-produto {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    border: #e9e9e9 1px solid;
    font-size: 14px;
}

.card-footer-produto .btn-detalhe-produto:hover {
    background-color: #fdfdfd;
}

.categorias {
    background-color: #fff;
    margin: 15px auto;
}

.linha-categorias {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.card-categoria {
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    text-decoration: none;
}

.card-categoria:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.overlay-categoria {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    z-index: 0;
}

.card-body-categoria {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}

.card-body-categoria h3 {
    font-size: 18px;
    font-weight: bold;
}

.card-body-categoria p {
    font-size: 14px;
    font-weight: normal;
}

.cta-home {
    background-color: #fafafa;
    margin: 15px auto;
}

.liquidacao,
.novidades {
    padding: 40px;
    border-radius: 15px;
    color: white;

}

.liquidacao {
    background-color: #6c04bc;
    margin-bottom: 30px;
}

.cta-home h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;

}

.btn-cta-home {
    background-color: #fafafa;
    color: #333;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.btn-cta-home:hover {
    background-color: #f3f3f3;
}

.novidades {
    background-color: #b84802;
}

.banner {
    background-color: hsl(221 83% 53%);
    display: flex;
    padding: 80px 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}


.banner h1 {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

.banner p {
    font-size: 20px;
    font-weight: normal;
}

/* Tablet - 576px a 768px */

@media (min-width: 576px) and (max-width: 768px) {
    .linha-produtos {
        grid-template-columns: repeat(2, 1fr);
    }

    .linha-categorias {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop - 768px a 992px */

@media (min-width: 768px) and (max-width: 992px) {
    .linha-produtos {
        grid-template-columns: repeat(3, 1fr);
    }

    .linha-categorias {
        grid-template-columns: repeat(3, 1fr);
    }

    .linha-cta-home {
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .liquidacao {
        margin-bottom: 0px;
    }

    .liquidacao,
    .novidades {
        min-height: 140px;
    }
}

/* Desktop - 992px a 1200px */

@media (min-width: 992px) and (max-width: 1200px) {
    .linha-produtos {
        grid-template-columns: repeat(4, 1fr);
    }

    .linha-categorias {
        grid-template-columns: repeat(4, 1fr);
    }

    .linha-cta-home {
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .liquidacao {
        margin-bottom: 0px;
    }

    .liquidacao,
    .novidades {
        min-height: 140px;
    }
}


/* Desktop - Acima de 1200px */

@media (min-width: 1200px) {
    .linha-produtos {
        grid-template-columns: repeat(4, 1fr);
    }

    .linha-categorias {
        grid-template-columns: repeat(4, 1fr);
    }

    .linha-cta-home {
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .liquidacao {
        margin-bottom: 0px;
    }

    .liquidacao,
    .novidades {
        min-height: 140px;
    }
}