*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

p{
    font-size: 10px;
}

a:visited{
    color: black;
    text-decoration: none;
}


li a:hover{
    color: blue;
    cursor: pointer;
}

/*Cabecalho*/
header{
    background-color: white;
    height: 100px;
    border-bottom: 1px solid rgba(180, 175, 175, 0.3);
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    place-items: center;
}
header ul{
    list-style: none;
    font-size: 15px;
    color: black;
    

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.itens_topo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.itens_topo a{
    padding: 5px;
}

.itens_topo a:hover, .itens_topo .selecionado{
    color: blue;
    background-color: rgba(0,0,255, 0.2);
    border-radius: 3px;
    cursor: pointer;
}



/*Rodape*/
.footer_cima {
place-items: center;

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
align-items: start;      
gap: 1rem;
}

.footer_cima > div {
align-self: start;
}

.footer_cima ul {
margin: 0;
padding: 0;             
}

footer h3,
footer a {
font-size: 12px;
font-weight: bold;
margin: 0;
padding: 0;
}

footer a:hover{
color: blue;
}

footer p{
    font-size: 9px;
}

#descricao p{
    width: 100px;
}

#compras a{
    font-size: 9px;
    font-weight: normal;
}

#compras a:hover{
    color: blue;
}

.todos_direitos{
    font-size: 11px;
}

/*main_ carrinho*/

#carrinho{
    place-items: center;
}

#seus_itens{
    border: 1px solid rgba(180, 175, 175, 0.3);
    padding: 5px;
}

.colunas {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.linha1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.linha1 h4{
    font-size: 15px;
}

.linha1 .preco_lista{
    font-size: 12px;
}


.linha3{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.btn_diminuir, .btn_aumentar{
    width: 15px;
    align-items: center;
}

.remove{
    padding: none;
    margin: none;
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    color: red;
}


.remove:hover{
    padding: none;
    margin: none;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(180, 175, 175, 0.3);
    color: red;
}


#seus_itens ul{
    border: 1px solid rgba(180, 175, 175, 0.3);
    border-radius: 10px;
    padding: 16px;
    
    align-items: flex-start;

    list-style: none;
}


#seus_itens ul li{
    border-bottom: 1px solid rgba(180, 175, 175, 0.3);
}

.items img{
    width: 100px;
    height: 100px;
}

.items{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 1px solid rgba(180, 175, 175, 0.3);
    border-top: 1px solid rgba(180, 175, 175, 0.3);

    margin: 20px;

}

#item1{
    border-top: none;
}

#seus_itens h4{
    justify-content: right;
}



.btn_diminuir, .quantidade, .btn_aumentar{
    display: inline;
}

#itens_preco{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.operacoes{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
}
.operacao{
    display: flex;
    justify-content: space-between;

}